body {
    font-family: Arial, sans-serif;
    background-color: #ca1414;
    padding: 20px;
}
.h3{
    color: black;
}

.form-container {
    background-color: rgb(233, 22, 22);
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #10572d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b93232;
}
body{
    background-image: url("C:/Users/SAN/OneDrive/Desktop/check 2/tiny-rituals-kPZFp0xLJAs-unsplash.jpg");
        height: 100vh;
        background-size: cover;     
        background-repeat: no-repeat; 
        background-position: center; 
 }
